abci/config.toml
abci/vendor/**
abci/_vendor-*

api/vendor/**

tendermint/nodes/*/data/**

!tendermint/nodes
tendermint/nodes/**

docker-compose.yml
docker-compose.production.yml
.vscode

*.log

coverage.txt

vendor

docker/golang-godep/Gopkg.lock
docker/golang-godep/Gopkg.toml
