name: Release Binaries
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          submodules: true
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18.3
      - name: Setup release env
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          echo 'GITHUB_TOKEN=${{secrets.GITHUB_TOKEN}}' > .release-env
      - name: Publish release
        run: make release
